<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sandrine Coupart{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {% block stylesheets %}
            <link rel="stylesheet" 
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}

            <!-- Renders a link tag (if your module requires any CSS)-->
            <link rel="stylesheet" href="/build/app.scss"> 
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js" defer></script>
                <script src="/build/app.js" defer></script>
                See note below about the "defer" attribute -->
        {% endblock %}
    </head>
    <body class="grid-wrapper">
        <div id="mainContentWithHeader" class="col-lg-8 col-sm-11 mx-auto p-0 text-center mainContentWithHeader">
            <nav class="navbar navbar-expand">
                <a class="navbar-brand" href="">Sandrine Coupart</a>
                <div class="collapse navbar-collapse" id="mobileMenu">
                    <ul id="connexion" class="navbar-nav ml-auto mt-2 connexion">
                        {% if app.user %}
                        <li class="nav-item">
                            <span class="nav-link">Bienvenue {{ app.user.firstname }}!</span>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="">Connexion</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <nav class="navbar navbar-expand-custom navbar-mainbg">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <div class="hori-selector">
                            <div class="left">
                            </div>
                            <div class="right">
                            </div>
                        </div>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0);">Accueil</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="javascript:void(0);">Recettes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0);">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        {% block body %}{% endblock %}
        
        </div>
        {% block scripts %}
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
