{% extends 'base.html.twig' %}

{% block title %}Hello LegalNoticeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="main col-11 mx-auto">
    <h2>Mentions légales</h2>

    <p>Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l’économie numérique, il est précisé aux utilisateurs du site legalplace.fr l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p> 

    <h3>Edition du site</h3>
    <p>Le site legalplace.fr est édité par la société LegalPlace, société par actions simplifiée au capital de 20 556,60 euros, dont le siège social est situé 47 rue Marcel Dassault, 92100 Boulogne-Billancourt, immatriculée au Registre du Commerce et des Sociétés de Nanterre sous le numéro 814 428 785 et dont le numéro TVA est FR24814428785.</p>

    <h3>Responsable de publication</h3>
    <p>Steven GOMES</p>

    <h3>Nous contacter</h3>
    <ul>
        <li>Par email : support@exempleStudi.fr</li>
        <li>Par téléphone : 01.**.**.**.** </li>
    </ul>


    <h3>Hébergeur</h3>
    <p>Le site legalplace.fr est hébergé par la société Amazon Web Services LLC</p> 

    <p>Adresse: P.O. Box 81226, Seattle, WA 98108-1226 </p>
</div>
{% endblock %}
